.home{
  margin: 1rem auto;
  padding: 1rem;
  width: 100vw;
  grid-area: content;
}
.newDiary{
  width: 75%;
  max-width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 8;
}
.headingText{
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 0px rgb(97 97 97 / 18%);
}
.pin{
  top: 1rem;
  right: 8.75rem;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}
.add{
  top: 1rem;
  right: 5rem;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}
.listOfDiary{
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  width: 85%;
  margin-top:2rem;
  grid-gap:1rem;
}
/* Footer */
.footer {
  background-color: var(--grey-color);
  padding: 4rem 0 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-size: 2rem;
  color: var(--white-color);
  margin: 0 2rem;
  background-color: var(--grey-color);
  padding: 0.3rem 3rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}

.footer-link:hover {
  transform: rotate(-10deg);
  box-shadow: 0 2rem 3rem #000;
}

.footer-paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}
/* End of Footer */